<%- include('./partials/head.ejs') %>
<body class="userindex">
<header>
    <h1>Houdt scores <span>van je favoriete team</span> bij.</h1>
</header>
<main>
    <ul>
        <% newData.forEach(item => { %>
            <li>
                    <strong><%= item.score[0] %></strong>
                    <p><%=item.match[0]%></p>
                    <strong>VS</strong>
                    <p><%=item.match[1]%></p>
                    <strong><%= item.score[1] %></strong>

                </a>
            </li>
        <% }) %>
        <% if(newData.length == 0) {%> 
        <li><p class="zerostate">Er zijn nog geen wedstrijden bekend.</p></li>
        <% } %>
    </ul>
</main>
</body>
<%- include('./partials/footer.ejs') %>