<%- include('./partials/head.ejs') %>
<body class="updatescore">
<div class="transition transition-swipe-2 is-active"></div>
<header>
    <a href="/admin">terug</a>
</header>
<main>
    <form action="/match/<%=newItem.id%>" method="POST" enctype="application/x-www-form-urlencoded" id="update">
        <input type="hidden" name="_method" value="PUT">
        <div>
            <input type="text" name="newMatch" value="<%=newItem.match[0]%>">
            <input type="number" name="newScore" value="<%=newItem.score[0]%>" required max="99" />
        </div>
        <p>VS</p>
        <div>
            <input type="text" name="newMatch" placeholder="0" value="<%=newItem.match[1]%>">
            <input type="number" name="newScore" placeholder="0" value="<%=newItem.score[1]%>" required max="99" />
        </div>
        <div>
            <button type="submit" id="update">Update</button>
        </div>
    </form>
</main>
</body>
<%- include('./partials/footer.ejs') %>